<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>531764639411-27vluc0u4i6f538rirf1el87522p2qvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531764639411-27vluc0u4i6f538rirf1el87522p2qvf</string>
	<key>API_KEY</key>
	<string>AIzaSyAfYjzDv_qemJdUeY3kH6vyGhjwfrN1drg</string>
	<key>GCM_SENDER_ID</key>
	<string>531764639411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexcpaul.JobMktPlace</string>
	<key>PROJECT_ID</key>
	<string>jobmktplace-16584</string>
	<key>STORAGE_BUCKET</key>
	<string>jobmktplace-16584.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531764639411:ios:76ccbd9a0654b359</string>
	<key>DATABASE_URL</key>
	<string>https://jobmktplace-16584.firebaseio.com</string>
</dict>
</plist>